
<!-- <a routerLink="/contact" >button</a>
<a routerLink="/">Back to home</a> 
<router-outlet></router-outlet> -->

<div class="container">
    <ul class="navbar">
        <li>
            <!-- <a href="#" class="nav-icon">coin</a> -->
            <img src="../assets/icon.png" alt="" class="nav-icon"><span><p class="nav-title">panter</p></span>
        </li>
        <li>
            <a href="#" class="nav-contact">contact</a>
        </li>
    </ul>
    <div class="header">
        <div class="leftside-header">
            <p class="heading">coin panther</p>
            <a href="#" class="contact-button">contact</a>
        </div>
        <div class="rightside-header">
            <img src="../assets/icon.png" alt="" class="image">
        </div>
    </div>
    <a href="#" class="down-arrow">arrow</a>
</div>
<app-body></app-body>
