/* You can add global styles to this file, and also import other style files */
*{
    padding: 0%;
    margin: 0%;
}
:root{
    --blue : #102234;
    --orange : #FD5F00;
    --white : #f7f7f7;
}
body{
    overflow-x: hidden;
}